@model CrudCoreOklab.Models.ViewModels.ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <div>
        <label>Nueva Contraseña:</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label>Confirmar Contraseña:</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Restablecer Contraseña</button>
</form>
