@model CrudCoreOklab.Models.ViewModels.ResetPasswordViewModel

<form asp-action="SendPasswordResetLink" method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Email" />
    </div>
    <button type="submit">Enviar enlace de restablecimiento</button>
</form>
